.hangman-game {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 75% 25%;
  background: linear-gradient(153deg,#5100cb 0,#6500fc 42%,#9617c9 75%,#d33092 100%) right bottom no-repeat;
  height: 100vh;
}

.guess-mask {
  grid-row: 1;
  grid-column: 1;
}

.replay-button--area {
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}

.replay-button {
  font-size: 2rem;
  padding: 1rem;
  color: #00a65d;
  width: 200px;
  background-color: #ffffff;
  border: solid .2rem #00a65d;
  height: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.test-button {
  grid-row: 2;
  grid-column: 1;
}

.counter {
  grid-row: 2;
  grid-column: 2;
}